@font-face {
  font-family: GoldenGraph ;
  src: url(GoldenGraph.woff2);
}

:root {
  --primary: #2e1a35;
  --secondary: #fedada;
}

.App {
  background-color: var(--primary);
  width: auto;
  min-height: 100vh;
}

button {
  margin: 0 auto 50px;
  padding: 0.25rem 0.75rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  cursor: pointer;
  background: transparent;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 8px;
}

button:hover {
  box-shadow: 0 0 11px 4px var(--secondary);
  background: var(--secondary);
  color: var(--primary);
}

h1 {
  margin: 1.2rem auto;
  font-family: GoldenGraph, cursive;
  font-size: 3.5rem;
  text-align: center;
}

blockquote {
  border-top: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
  font-size: 2rem;
  font-weight: 200;
  margin: 5% 8%;
  padding: 2%;
}

small {
  display: block;
  font-size: 0.7em;
  text-align: right;
  font-style: italic;
  margin: 10px;
  padding: 4px;
}

.App-header,
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
}

@media screen and (max-width: 600px) {
  h1 {font-size: 2rem;}
  blockquote {font-size: 1.5rem;} 
}