body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: GoldenGraph ;
  src: url(GoldenGraph.woff2);
}

:root {
  --primary: #2e1a35;
  --secondary: #fedada;
}

.App {
  background-color: var(--primary);
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.App-header {
  width: inherit;
  position: relative;
}

.App-header,
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary);
}

.icon {
  margin: 0 auto 1.7rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.dark-mode {
  position: absolute;
  right: 2%;
  top: 2%;
}

h1 {
  font-family: GoldenGraph, cursive;
  font-size: 3.3rem;
  cursor: pointer;
}

main {
  width: 100vh;
}

.blockquote {
  border-top: 2px solid var(--secondary);
  border-bottom: 2px solid var(--secondary);
  font-weight: 200;
  margin: 4% 0;
  padding: 2%;
  max-height: 40vh;
}

small {
  display: block;
  font-size: 0.7em;
  text-align: right;
  font-style: italic;
  margin: 10px;
  padding: 4px;
}

@media screen and (max-width: 600px) {
  h1 {font-size: 2rem;}
}